* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: floralwhite;
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  min-height: calc(41px + (57 - 41) * ((100vw - 500px) / (1920-500)));
  align-items: center;
  background: linear-gradient(
    90deg,
    floralwhite 0%,
    rgba(255, 255, 255, 0.151) 25%
  );
  /* background-color: white; */
  position: fixed;
  z-index: 10;
  justify-content: center;
}

.logo img {
  width: auto;
  height: calc(35px + (50 - 35) * ((100vw - 500px) / (2000-500)));
  margin: auto auto auto 5px;
  /* background-color: blue; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 auto;
  align-items: center;
  width: 60%;
  /* background-color: green; */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: calc(10px + (13 - 10) * ((100vw - 500px) / (1920-500)));
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.08rem;
  background: black;
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.right-nav {
  display: flex;
  justify-content: space-around;
  margin: auto 10px auto auto;
  /* background-color: crimson; */
  align-items: center;
  height: 30px;
  width: auto;
}

.water-icon {
  margin: 2px 0;
  padding: 0 5px;
  /* background-color: blue; */
}

.water-icon img {
  width: calc(27px + (32 - 27) * ((100vw - 500px) / (1920-500)));
  height: auto;
}

.water-temp p {
  margin: 2px 0;
  color: rgb(0, 0, 0);
  font-size: calc(13px + (18 - 13) * ((100vw - 500px) / (1920-500)));
  cursor: default;
  /* background-color: gray; */
}

.icon img {
  margin: 2px 0;
  width: calc(30px + (35 - 30) * ((100vw - 500px) / (1920-500)));
  height: auto;
  /* background-color: greenyellow; */
}

.temp p {
  margin: auto 0;
  color: rgb(0, 0, 0);
  font-size: calc(13px + (18 - 13) * ((100vw - 500px) / (1920-500)));
  cursor: default;
  /* background-color: hotpink; */
}

.cart {
  margin: 2px 10px 2px 10px;
  /* background-color: indigo; */
}

.cart img {
  height: auto;
  width: calc(30px + (42 - 30) * ((100vw - 500px) / (1920-500)));
  margin: 2px;
}

.hover-ani:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.burger {
  display: none;
  /* background-color: yellow; */
}

.burger img {
  height: 27px;
  width: auto;
}

.cancel {
  display: none;
  cursor: pointer;
}

.cancel img {
  height: 20px;
  width: auto;
  margin: 2px 7.5px 2px 0;
}

.carousel img {
  max-height: 100vh;
  object-fit: cover;
  margin: auto;
}

.carousel-indicators li {
  position: relative;
  bottom: 1vw;
}

.entire-store {
  background: linear-gradient(
    180deg,
    floralwhite 0%,
    rgb(255, 239, 217) 15%,
    rgb(253, 234, 239) 50%,
    rgb(234, 250, 255) 90%,
    rgba(183, 226, 242, 1) 100%
  );
}

.store-sections {
  width: 100%;
  min-height: 100vh;
  padding: 90px;
}

.sticky {
  position: fixed;
  z-index: -20;
  top: 0px;
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}

.see-through {
  background-color: rgba(255, 255, 255, 0);
}

#c {
  display: block;
}

#vertical {
  display: none;
}

footer {
  height: 100vh;
  position: relative;
}

.credits {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 41px;
    background: linear-gradient(
      270deg,
      floralwhite 0%,
      rgba(255, 255, 255, 0) 50.2%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
  }

  .nav-links li {
    opacity: 0;
    position: relative;
    right: -10vw;
    bottom: 20px;
  }

  .nav-links a {
    font-size: 12px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger-clicked {
    display: none;
  }

  .cancel-display {
    display: block;
  }

  .carousel {
    margin: 0 0 5vw 0;
  }

  .carousel img {
    margin-top: 41px;
  }

  #c {
    display: none;
  }

  #vertical {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    font-size: 12px;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    font-size: 20px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-4deg);
  }
  20% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-4deg);
  }
  80% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
