* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: floralwhite;
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  min-height: calc(41px + (57 - 41) * ((100vw - 500px) / (1920-500)));
  align-items: center;
  background: linear-gradient(
    90deg,
    floralwhite 0%,
    rgba(255, 255, 255, 0.404) 25%
  );
  /* background-color: white; */
  position: fixed;
  z-index: 10;
  justify-content: center;
}

.logo img {
  width: auto;
  height: calc(35px + (50 - 35) * ((100vw - 500px) / (2000-500)));
  margin: auto auto auto 5px;
  /* background-color: blue; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 auto;
  align-items: center;
  width: 60%;
  /* background-color: green; */
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: calc(10px + (13 - 10) * ((100vw - 500px) / (1920-500)));
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.08rem;
  background: black;
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.right-nav {
  display: flex;
  justify-content: space-around;
  margin: auto 10px auto auto;
  /* background-color: crimson; */
  align-items: center;
  height: 30px;
  width: auto;
}

#login{
  font-size: calc(10px + (13 - 10) * ((100vw - 500px) / (1920-500)));
  font-weight: 600;
  padding: 3px 8px;
}

.water-icon {
  margin: 2px 0;
  padding: 0 5px;
  /* background-color: blue; */
}

.water-icon img {
  width: calc(27px + (32 - 27) * ((100vw - 500px) / (1920-500)));
  height: auto;
}

.water-temp p {
  margin: 2px 0;
  color: rgb(0, 0, 0);
  font-size: calc(13px + (18 - 13) * ((100vw - 500px) / (1920-500)));
  cursor: default;
  /* background-color: gray; */
}

.icon img {
  margin: 2px 0;
  width: calc(30px + (35 - 30) * ((100vw - 500px) / (1920-500)));
  height: auto;
  /* background-color: greenyellow; */
}

.temp p {
  margin: auto 7px auto 0;
  color: rgb(0, 0, 0);
  font-size: calc(13px + (18 - 13) * ((100vw - 500px) / (1920-500)));
  cursor: default;
  /* background-color: hotpink; */
}

.cart {
  margin: 2px 10px 2px 10px;
  /* background-color: indigo; */
}

.cart {
  position: relative;
}

.cart img {
  height: auto;
  width: calc(30px + (42 - 30) * ((100vw - 500px) / (1920-500)));
  margin: 2px;
}

.cart-total {
  display: block;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(248, 237, 120);
  padding: 0 3px;
  border-radius: 50%;
  font-size: calc(10px + (13 - 10) * ((100vw - 500px) / (1920-500)));
  position: absolute;
  right: -5px;
  top: -2px;
  margin: 2px;
}

.hover-ani:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.burger {
  display: none;
  /* background-color: yellow; */
}

.burger img {
  height: 27px;
  width: auto;
}

.cancel {
  display: none;
  cursor: pointer;
}

.cancel img {
  height: 20px;
  width: auto;
  margin: 2px 7.5px 2px 0;
}

.carousel img {
  max-height: 100vh;
  object-fit: cover;
  margin: auto;
}

.carousel-indicators li {
  position: relative;
  bottom: 1vw;
}

.entire-store {
  background: linear-gradient(
    180deg,
    floralwhite 0%,
    rgb(255, 239, 217) 15%,
    rgb(253, 234, 239) 50%,
    rgb(234, 250, 255) 90%,
    rgb(183, 226, 242) 100%
  );
}

.store-sections {
  width: 100%;
  min-height: 30vh;
  padding-top: calc(37px + (90 - 37) * ((100vw - 500px) / (1920-500)));
  padding-left: calc(37px + (90 - 37) * ((100vw - 500px) / (1920-500)));
  padding-right: calc(37px + (90 - 37) * ((100vw - 500px) / (1920-500)));
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.product-list{
  display:flex;
  justify-content: space-around;
  width:100%;
  padding: 50px 0;
  margin: auto;
}

.card{
  background: none;
  border:none;
}

.card-header{
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.card-header img{
  width: 100%;
  filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.432));
}

.card-body{
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.sticky {
  position: fixed;
  z-index: -20;
  top: 0px;
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}

.see-through {
  background-color: rgba(0, 0, 0, 0.178);
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.see-through h3{
  color: rgb(248, 241, 226);
  font-weight: 900;
  font-family: "Freckle Face", cursive;
  font-size: calc(20px + (50 - 20) * ((100vw - 500px) / (1920-500)));
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  opacity: 0.7;
  letter-spacing: 4px;
  word-spacing: calc(42px + (280 - 42) * ((100vw - 500px) / (1920-500)));;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.see-through img {
  width: calc(350px + (650 - 350) * ((100vw - 500px) / (1920-500)));
  height: auto;
  opacity: 0.8;
}

#c {
  display: block;
}

#vertical {
  display: none;
}

.navheight {
  width: 100%;
  min-height: calc(41px + (57 - 41) * ((100vw - 500px) / (1920-500)));
}

.cart-page {
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
}

.cart-row {
  display: flex;
  align-items: stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.row-image {
  width: 100px;
}

.quanity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin: 5px 0 0 14px;
  transform: translateY(-5px);
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.hidden{
  display: none!important;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100vh; /* the bottom margin is the negative value of the footer's height */
}
.push {
  height: 100vh; /* .push must be the same height as .footer */
}

footer {
  height: 100vh;
  position: relative;
}

.credits {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav{
    background-color: floralwhite;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 41px;
    background: linear-gradient(
      270deg,
      floralwhite 0%,
      rgba(255, 255, 255, 0) 50.2%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
  }

  .nav-links li {
    opacity: 0;
    position: relative;
    right: -10vw;
    bottom: 20px;
  }

  .nav-links a {
    font-size: 12px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger-clicked {
    display: none;
  }

  .cancel-display {
    display: block;
  }

  .carousel {
    margin: 0 0 5vw 0;
  }

  .carousel img {
    margin-top: 41px;
  }

  #c {
    display: none;
  }

  #vertical {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    font-size: 12px;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    font-size: 20px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-4deg);
  }
  20% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-4deg);
  }
  80% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}


