<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Uncle Rico's Surf Wax</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'images/favicon.png' %}"
    />
  </head>
  <style>
    footer {
      background-image: url("{% static "images/footer.jpg" %}");
    }
  </style>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'scroll' %}"
          ><img src="{% static 'images/brand.png' %}" alt="Uncle Rico's"
        /></a>
      </div>

      <ul class="nav-links">
        <li><a class="underline" href="\#the-wax">Surf Wax</a></li>
        <li><a class="underline" href="\#apparel">Apparel</a></li>
        <li><a class="underline" href="\#accessories">Accessories</a></li>
        <li><a class="underline" href="\#about">About</a></li>
      </ul>

      <div class="right-nav">
        
        <div class="water-icon">
          <img src="{% static 'images/wave.png' %}" alt="" />
        </div>
        <div class="water-temp">
          <p>{{ marine_weather.water }}</p>
        </div>

        <div class="icon">
          <img src="../static/{{ marine_weather.icon }}.png" alt="" />
        </div>
        <div class="temp">
          <p>{{marine_weather.temp}}</p>
        </div>

        <a id='login' class="btn btn-outline-dark" href="">Login</a>

        <div class="cart">
          <a href="{% url 'cart' %}"
            ><img
              class="hover-ani"
              src="{% static 'images/car.png' %}"
              alt=""
          /></a>
          <p class="cart-total">2</p>
        </div>
        

        <div class="burger">
          <img src="{% static 'images/waveburger.png' %}" alt="" />
        </div>

        <div class="cancel">
          <img src="{% static 'images/x.png' %}" alt="" />
        </div>
      </div>
    </nav>

    {% block body_block %} {% endblock body_block %}

    <div class="wrapper">
      <div class="push"></div>
    </div>
    <footer>
      <div class="credits">
        <div>
          Icons made by
          <a
            href="https://www.flaticon.com/authors/kiranshastry"
            title="Kiranshastry"
            >Kiranshastry</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>

        <div>
          Icons made by <a href="" title="xnimrodx">xnimrodx</a> from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
