<!DOCTYPE html>
{% extends 'store/main.html' %} {% load static %} {% block body_block %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/carousel/wax.jpg' %}"
        alt="First slide"
      />
    </div>
    <div class="carousel-item" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/carousel/hero.jpg' %}"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/carousel/mad.jpg' %}"
        alt="Third slide"
      />
    </div>
  </div>
</div>

<div class="entire-store">
  <section id="the-wax" class="store-sections">
    <h2>THE WAX</h2>
    <hr />
  </section>

  <section id="apparel" class="store-sections">
    <h2>APPAREL</h2>
    <hr />
  </section>
</div>

<img id='c' class='sticky' src="{% static 'images/store/A.jpg' %}" alt="">
<img id='vertical' class="sticky" src="{% static 'images/store/vertical.jpg' %}" alt="" />
<div class="store-sections see-through">
  
</div>

<div class="entire-store">
  <section id="accessories" class="store-sections">
    <h2>ACCESSORIES</h2>
    <hr />
  </section>

  <section id="bundles" class="store-sections">
    <h2>BUNDLES</h2>
    <hr />
  </section>

  <section id="about" class="store-sections">
    <h2>ABOUT</h2>
    <hr />
  </section>
</div>

{% endblock body_block %}
