<!DOCTYPE html>
{% extends 'store/main.html' %} {% load static %} {% block body_block %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/wax.jpg' %}"
        alt="First slide"
      />
    </div>
    <div class="carousel-item" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/hero.jpg' %}"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item" data-interval="7000">
      <img
        class="d-block w-100"
        src="{% static 'images/mad.jpg' %}"
        alt="Third slide"
      />
    </div>
  </div>
</div>

<main>
  <div class="entire-store">
    <section id="the-wax" class="store-sections">
      <h2>THE WAX</h2>
      <hr />
      <div class="row product-list">
        {% for product in products %}

        {% if product.category.name == 'The Wax' %}

        <div class="card border-light mb-3 col-md-6" style="max-width: 18rem;">
          <div class="card-header">
            <img src="{{ product.imageURL }}" alt="">
          </div>
          <div class="card-body text-dark">
            <button style='margin-bottom: 8px;' class='btn btn-outline-dark'>Add To Cart</button>
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">${{product.price|floatformat:2}}</p>
          </div>
        </div>

        {% endif %} 
        {% endfor %}
      </div>
    </section>

    <section id="apparel" class="store-sections">
      <h2>APPAREL</h2>
      <hr />
      <div class="row product-list">
        {% for product in products %}

        {% if product.category.name == 'Apparel' %}

        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <img src="{{ product.imageURL }}" alt="">
          </div>
          <div class="card-body text-dark">
            <button style='margin-bottom: 8px;' class='btn btn-outline-dark'>Add To Cart</button>
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">${{product.price|floatformat:2}}</p>
          </div>
        </div>

        {% endif %} 
        {% endfor %}

    </section>
  </div>

  <img
    id="c"
    class="sticky"
    src="{% static 'images/combs.jpg' %}"
    alt=""
  />
  <img
    id="vertical"
    class="sticky"
    src="{% static 'images/vertical.jpg' %}"
    alt=""
  />
  <div class="see-through">
    <img src="{% static 'images/linework.png' %}" alt="" />
    <h3>STICKY ORGANIC SURF WAX</h3>
  </div>

  <div class="entire-store">
    <section id="accessories" class="store-sections">
      <h2>ACCESSORIES</h2>
      <hr />
    </section>

    <section id="bundles" class="store-sections">
      <h2>BUNDLES</h2>
      <hr />
    </section>

    <section id="about" class="store-sections">
      <h2>ABOUT</h2>
      <hr />
    </section>
  </div>
</main>

{% endblock body_block %}
